body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #5a0648;
  }
  
  .box {
    width: 80px;
    height: 80px;
    background-color: #8f2281;
    color:blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.5rem;
  }
  