
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f2fa;
    color: #3a2e4c; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #a56cc1;
  }
  
 
  header {
    background-color: #d5abea; 
    color: rgb(82, 4, 88);
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  

  header h1 {
    margin: 0 0 1rem 0; 
    font-size: 2rem;
    letter-spacing: 1px;
    font-family:'Courier New', Courier, monospace;
  }
  

  nav ul {
    list-style: circle;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
  }
  
  nav ul li a:hover {
    color: #e6d3f7;
    border-bottom: 2px solid #fff;
  }
  
 
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem;
  }
  
 
  section {
    background-color: #ffffff;
    border: 1px solid #d6b8f2;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    height: 200px;
    transition: all ease 0.5s;
    
  }

  section:hover {
    box-shadow: inset 0 10px 10px #55046068;
    transform: translateY(-8%);
}
  
  
  section h2 {
    color: #550460;
    border-bottom: 2px solid #a56cc1;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  
 
  section p {
    line-height: 1.6;
    font-size: 1rem;
    color:#3a2e4c
  }
  
 
  section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }
  
  section ul li {
    background-color: #e9d7f7;
    padding: 0.5rem;
    border-radius: 6px;
    text-align: center;
    transition: 0.3s;
  }
  
  section ul li:hover {
    background-color: #d7b3f3;
    transform: scale(1.05);
  }
  
 
  