body {
    font-family:'Courier New', Courier, monospace, sans-serif;
    background-color: purple;
  }
  
  .container {
    background-color: pink;
    color: #333;
    width: 300px;
    padding: 20px;
    margin: 30px auto;
    border: 2px solid #bbb;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    
  }
  